<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Personal Information Management System</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
    <style type="text/css">
        .tips {font-size: 12px; color: red;}
    </style>
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Baking potato</h3>
        </div>
 
        <div class="jumbotron">
            <h4>Real knowledge is to know the extent of one’s ignorance</h4>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">

 
                <h4>Import & Urgent Potatoes</h4>
                <p class="tips">DO to do these tasks NOW!</p>
                <p>You MUST meet your important commitments and deal with critical issues as they arise.</p>
 
                <h4>Not important, Not Urgent Potatoes</h4>
                <p class="tips">AVOID these activities and distractions all together - they won't help you achieve success.</p>   
            </div>
 
            <div class="col-lg-6">
                <h4>Important, but not Urgent Potatoes</h4>
                <p class="tips">PLAN to do these tasks NEXT!</p>
                <p>These ones are critical to goal setting and ultimate success.</p>

                <h4>Not Important, but Urgent Potatoes</h4>
                <p class="tips">MANAGE these activities by cutting them short, rejecting requests and avoiding them while doing important tasks</p>
 

            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Walter Fan's Personal Studio 2017</p>
        </footer>
 
    </div>
</body>
 
</html>

