html
  head
    title='Hello Nodejs'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello NodeJS
        ul
          li
            a.btn.btn-primary(href="https://nodejs.org/en") Nodejs site

          li
            a.btn.btn-outline-primary(href="https://kubernetes.io/") Kubernetes Site

          li
            a.btn.btn-primary(href="https://helm.sh/") Helm site

          li
            a.btn.btn-outline-primary(href="https://istio.io/") Istio Site
